[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
free-proxy = "*"
loguru = "*"
telebot = "*"
schedule = "*"
pandas = "*"
fake-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
